/* general */
html, body{
    background-color: black;
    font-family: sans-serif;
    color:lightgrey;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
p{
    line-height: 1.8;
}


hr{
    border-bottom: 2px solid grey;
    margin-left: 10%;
    margin-right: 10%;
}


/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: 900;
    padding-right: 600px;
    margin-left: 15%;
}


nav li a{
    display: block;
    text-align: center;
    padding: 1px 40px;
    text-decoration: none;
    color: aliceblue;
}

nav li a:hover{
    color: hotpink;
}

nav li a:active{
    color: hotpink;
    text-decoration: underline;
}


/* home */
#home{
    margin-top: 2%;
}

#intro{
    padding-top: 10%;
    padding-left:10%;

}

#intro h1{
    font-size: 60px;
}

#intro h3{
    font-size: 15px;
    letter-spacing:4px;
    font-weight:700;
}

#home-container{
    display: flex;
    gap: 400px
}

#me{
    height: 500px;
    padding-top: 10%;

}

#home h3{
    color: hotpink;

}

#about button{
    background-color: hotpink;
    padding: 20px 20px;
    font-weight:bold;
    border-radius: 30px;
    border: none;
}

/* about me */
#about-container{
    display: flex;
    gap: 70px;
    padding: 2% 10%;
    justify-content: center;
    align-items: flex-start;
}

#book-container{
    display: flex;
    gap: 40px;
}

.book-cover{
    height: 200px;
}

/* experience */
#experience{
    padding-left:10%;
    padding-top: 2%;

}

#role-container{
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    gap:50px;
}

.role{
    background-color: rgb(42, 42, 42);
    border-radius: 10px;
    padding:2%
}

/* Projects */
#projects{
    margin-left: 10%;
    margin-top:4%;
    margin-right:10%;
    margin-bottom:4%;
}

table {
    border-width: 1px;
    border: 1px solid;
}

th{
    background-color: hotpink;
}


th, td {
  padding: 10px;
}

/* contact */
#contact{
    padding-left:10%;
    padding-top: 2%;
    padding-bottom: 3%;
}

#contact-container{
    display:flex;
    flex-direction: row;
    gap:20px;
}

.contact-link{
    background-color: hotpink;
    text-align: center;
    padding: 10px 40px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 30px;
}
