/* general */
html, body{
    background-color: black;
    font-family: sans-serif;
    color:lightgrey;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
p{
    line-height: 1.8;
}
.seperator{
    border-bottom: 2px solid grey;
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}


/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: 900;
    padding-right: 350px;
    margin-left: 100px;
}


li a{
    display: block;
    text-align: center;
    padding: 1px 40px;
    text-decoration: none;
    color: aliceblue;
}

li a:hover{
    color: hotpink;
}

li a:active{
    color: hotpink;
    text-decoration: underline;
}


/* home */
#home{
    margin-top: 2%;
}

#intro{
    padding-top: 10%;
    padding-left:10%;

}

#intro h1{
    font-size: 60px;
}

#intro h3{
    font-size: 15px;
    letter-spacing:4px;
    font-weight:700;
}

#home-container{
    display: flex;
    gap: 400px
}

#me{
    height: 500px;
    padding-top: 10%;

}

#home h3{
    color: hotpink;

}

#about button{
    background-color: hotpink;
    padding: 20px 20px;
    font-weight:bold;
    border-radius: 30px;
    border: none;
}

/* about me */
#about-container{
    display: flex;
    gap: 70px;
    padding: 2% 10%;
    justify-content: center;
    align-items: flex-start;
}

#book-container{
    display: flex;
    gap: 40px;
}

.book-cover{
    height: 200px;
}

/* experience */